{% extends "base.html.njk" %}

{% block title %}
Most Liked Fossils
{% endblock %}

{% block content %}

    <h1>Most Liked Fossils</h1>
    <h2 class="subtitle">Welcome to the most comprehensive and complete fossil database on Earth.</h2>

    <div id="get-name">
    <form action="/get-name">
      <div>
        <label for="namefield" class="base-text">What's your name?</label>
        <input id="namefield" type="text" name="name" required />
      </div>
      <div id="name-button">
        <input type="submit" />
      </div>
    </form>
    </div>

    <h2 class="subtitle">Don't believe me? Go ahead and grab a random fossil; anything you'd like!</h2>
    <div id="random-fossil-button"><button id="get-random-fossil">Get Random Fossil</button></div>
    <div id="random-fossil-image" class="hprandom"></div>
    <p id="random-fossil-name" class="hprandom"></p>

    <script type="module" src="../src/random-fossil.js"></script>

{% endblock %}